body {
    height: 100vb;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    margin: 10px;
    padding: 0;
    display: inline-block;
    background-color: #a0c0d6;
}

.navbar {
    background-color: #a0c0d6;
    width: 100%;
}

.navbar ul {
    padding: 0;
    display: flex; 
    list-style: none;
    justify-content: right;
}

.navbar li {
    list-style: none;
    margin: 10px;
    padding: 0;
}

.horarios {
    padding: 15px;
    font-family: sans-serif;
    font-style: italic;
    color: #133463;
}

.lunesviernes, .sabadodomingo, .feriado {
    font-family: sans-serif;
    font-size: 20px;
    color: #43597d;
}

.hora {
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
}

.button {
    font-size: 15px;
    margin: 10px;
}

footer {
    background-color: #a0c0d6;
    width: 100%;
    margin-top: auto;
    display: grid;
    place-items: center;
}