.header {
    padding: 0;
    display: flex;
}

.navbar {
    background-color: lightgrey;
    display: inline-block;
    width: 100%;
}

.navbar ul {
    padding: 0;
    display: flex;  
    justify-content: center;
}

.navbar li {
    list-style: none;
    margin: 4px;
}

.horarios {
    padding: 15px;
    font-family: sans-serif;
    font-style: italic;
    color: rgb(12, 67, 86);

}

.lunesviernes, .sabadodomingo, .feriado {
    font-family: sans-serif;
    font-size: 20px;
    color: rgb(17, 152, 197);
}

.hora {
    font-family: sans-serif;
    font-style: italic;
    text-align: center;
}

.button {
    font-size: 15px;
    margin: 10px;
}

.footer {
    padding: 20px;
    margin: 0;
}